:host {
    display: flex;
    flex: 1 0 100%;
    flex-direction: column;
    height: 100%;
}

.dropzone {
    display: block;
    border: 2px dashed #d0d0d0;
    padding: 30px 50px;
    text-align: center;
    background: #f0f0f0;
    cursor: pointer;
}

.dropzone.over {
    border: 2px dashed #a0a0a0;
    background: #c0c0c0;
}