:host {
    display: block;
    font-size: 16px;
}

.mat-grid-tile {
    cursor: pointer;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    outline: none;
}

.mat-grid-tile * {
    outline: none;
    user-select: none;
}

.mat-grid-tile:hover {
    opacity: 0.8;
}

.folder-icon {
    position: relative;
}

.folder-icon .back-icon {
    color: #fff;
    top: 8px;
    left: 11px;
    position: absolute;
}

.ngfm-folder-tile {
    background: #a39f67;
}

.ngfm-browser-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 0.5em;
}