<h3>Angular File Manager Demo</h3>
<p>
  This demo is using the built-in NgfmMemoryConnector so nothing is persisted. This is Work In Progress. See
  <a href="https://github.com/funkizer/ng-file-manager">github.com/funkizer/ng-file-manager</a> for more information.
</p>
<p>
  <button mat-button mat-raised-button (click)="openDialog()">Open Dialog</button>
  <a [routerLink]="['/files', 'private']" routerLinkActive="underline">Your Files</a> |
  <a [routerLink]="['/files', 'public']" routerLinkActive="underline">Public Files</a>
</p>
<router-outlet></router-outlet>